@model AlmilaApp.Entities.ViewModel.StudentsViewModel
@{
    ViewData["Title"] = "StudentList";
}

<h1>Öğrenci Listesi</h1>

<table class="table">
    <thead>
        <tr>
            <th>Öğrenci ID</th>
            <th>Öğrenci Adı</th>
            <th>Öğrenci Adı</th>
            <th>Güncelle Sil</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>
                <a href="@Url.Action("StudentUpdate",new {id=item.Id })">Update</a>
                <a href="@Url.Action("Delete",new {id=item.Id })">Delete</a>
            </td>

        </tr>
        }
    </tbody>

</table>
